@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");

:root {
  --cor-primaria: #874356;
  --cor-secundaria: #f6e7d8;
  --cor-terciaria: #f68989;
  --cor-hover: #c65d7b;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}
li {
  padding: 2% 0% 2% 5%;
  list-style: none;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--cor-secundaria);
  text-decoration: none;
  background: rgba(243, 153, 153, 0.24);
  border-radius: 4px;
  transition: 0.5s;
  padding: 10px 10px;
}
.cabecalho__menu__link:hover {
  background: pink;
  color: rgb(199, 103, 116);
}

.apresentacao {
  padding: 3% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}
.apresentacao__conteudo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.titulo-destaque {
  color: var(--cor-terciaria);
}
.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-secundaria);
}
.apresentacao__conteudo__texto {
  font-size: 1.4rem;
  font-family: var(--fonte-secundaria);
}
.apresentacao__conteudo__img {
  text-decoration: none;
  width: 32px;
  height: 30px;
}
.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__link {
  display: flex;
  justify-content: center;
  gap: 5px;
  border: 2px solid var(--cor-terciaria);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);
  font-weight: bold;
}
.apresentacao__links__link:hover {
  background-color: var(--cor-hover);
  padding: 3%;
  transition: 0.5s;
}

.apresentacao__imagem {
  width: 100%;
  height: 550px;
  width: 490px;
  border-radius: 20px;
}

.rodape {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 24px;
  font-size: 1.5rem;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-weight: 400;
}

.apresentacao__conteudo__texto a {
  color: var(--cor-terciaria);
}

@media (min-width: 600px) and (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }
  .cabecalho__menu {
    justify-content: center;
  }
  .apresentacao__links__link {
    font-size: 1rem;
  }
  .apresentacao__imagem {
    width: 50%;
    height: 250px;
  }
  .cabecalho__menu__link {
    font-size: 1.3rem;
    border-radius: 4px;
    transition: 0.5s;
    padding: 5px 5px;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .apresentacao__conteudo {
    width: auto;
  }
  .rodape {
    font-size: 1rem;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .cabecalho {
    padding: 2% 10% 0% 10%;
  }
  .cabecalho__menu {
    justify-content: center;
    gap: 40px;
  }
  .apresentacao__links__link {
    font-size: 20px;
  }
  .apresentacao__imagem {
    width: 50%;
    height: 250px;
  }
  .cabecalho__menu__link {
    font-size: 1rem;
    border-radius: 5px;
    transition: 0.5s;
    padding: 10px 10px;
    white-space: nowrap;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 10%;
  }

  .apresentacao__conteudo {
    width: 100%;
  }
  .rodape {
    font-size: 1rem;
  }
}
